/* Header */

/* Main */
main{
    margin: 10%;
}

.inicio {
    display: flex;
    align-items: center;
    gap: 80px;
}

.inicio-container {
    flex: 1;
}

.inicio-titulo {
    margin-bottom: 30px;
    font-size: 2rem; 
}

.inicio-paragrafo {
    line-height: 1.6; 
    font-size: 1rem;
}

/* imgs */

.inicio-musashi-img {
    width: 600px;
    flex-shrink: 0;
}