/* Header */

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.199);
}

.cabecalho-nav-link li{
    display: inline-block;
    font-size: 18px;
    padding: 0px  20px;
}

.cabecalho-nav-link li a:hover {
    color: #0088a9;
}

.cabecalho-button {
    color: black;
    padding: 9px 20px;
    border: 1px solid #141211;
    border-radius: 50px;
    font-size: 20px;
}


.cabecalho-logo-img{
    cursor: pointer;
    width: 100px;
}

/* Main */
main{
    margin: 10%;
}

.inicio {
    display: flex;
    align-items: center;
    gap: 80px;
}

.inicio-container {
    flex: 1;
}

.inicio-titulo {
    margin-bottom: 30px;
    font-size: 2rem; 
}

.inicio-paragrafo {
    line-height: 1.6; 
    font-size: 1rem;
}

/* imgs */

.inicio-musashi-img {
    width: 400px;
    flex-shrink: 0;
}


/* footer */

.footer {
    padding: 20px 0;
    margin-top: 20px;
    border-top: 2px solid #000000;
}

.footer-container {
    max-width: 1200px;
    text-align: center;
}

.footer-text {
    font-size: 0.5rem;
}



@media (max-width: 1200px) {
    .inicio {
        flex-direction: column; 
        align-items: center; 
        text-align: center; 
        gap: 40px;
    }

    .inicio-titulo {
        font-size: 1.8rem; 
    }

    .inicio-paragrafo {
        font-size: 0.9rem; 
    }

    .inicio-musashi-img {
        width: 300px;  
    }

    .footer-text {
        font-size: 0.2rem;
    }
}
